body {
    background-color: aquamarine;
    font-size: 25px;
}
.buttonInicio {
    font-size: 25px;
    border-radius: 15px;
    background-color: black;
    color:white;
    border:0px solid;
    padding: 1.5%;
    margin-left: 2%;
    margin-right: 2%;

}